<div class="container1">

  <div class="text-part">
    <h1>Album example</h1>
    <div class="mid-box">
      <p>Something short and leading about the collection below—its contents, the creator, etc. Make it
        short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <div class="button-container">
        <div class="button1">Main call to action</div>
        <div class="button2">Secondary action</div>
      </div>
    </div>

  </div>

  <div class="box" *ngFor="let box of boxesArray">
    <div class="inner-box1">{{box.title}}</div>
    <div class="inner-box2">
      <p class="para">{{box.content}}</p>
      <div class="button">
        <button class="vebut1">{{box.buttonLabelLeft}}</button><button class="vebut2">{{box.buttonLabelRight}}</button>
        <div class="para1">
          {{box.duration}}
        </div>
      </div>

    </div>
  </div>




  <!-- <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div>
  <div class="box">
    <div class="inner-box1">Thumbnail
    </div>
    <div class="inner-box2">
      <p class="para">This is a wider card with supporting text below as a natural lead-in to additional
        content.
        This content is a little bit longer.</p>

      <div class="button">
        <button class="vebut1">View</button><button class="vebut2">Edit</button>
        <div class="para1">
          9 mins
        </div>
      </div>

    </div>
  </div> -->

</div>